.current-time-display-with-widget {
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.current-time-display-with-widget__time {
    color: #ffffff;
    font-size: 48px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    padding: 32px;
    margin: auto;
}